<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- read in the properties file properties -->
	<bean id="testPropertiesConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/database.properties</value>
			</list>
		</property>
	</bean>

	<!-- create a data source -->
	<bean id="testDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>${database.connection.driver_class}</value>
		</property>
		<property name="url">
			<value>${database.connection.url}</value>
		</property>
		<property name="username">
			<value>${database.connection.username}</value>
		</property>
		<property name="password">
			<value>${database.connection.password}</value>
		</property>
	</bean>

    <!-- create an interceptor bean -->
    <bean id="org.sakaiproject.genericdao.interceptors.TestInterceptor" 
        class="org.sakaiproject.genericdao.test.BasicDataInterceptor" />

    <!-- create a cache provider bean -->
    <bean id="org.sakaiproject.genericdao.caching.CacheProvider" 
        class="org.sakaiproject.genericdao.test.BasicMapCacheProvider" />

</beans>